.title {
    text-align:left;
    font-size:21px;
    font-weight:bold;
    color:black;
    margin-top:22px;
    margin-left:10px;
    
}
.time {
    text-align:left;
    font-size:15px;
    color:gray;
    margin-top:2px;
    margin-bottom:2px;
    margin-left:10px;
}

.img-parent {
    text-align:center;
    margin-bottom:10px;
    
}
