<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SettingDefine</key>
	<dict>
		<key>SupportLanguageSetting</key>
		<false/>
	</dict>
	<key>ServerConfig</key>
	<dict>
		<key>PrimaryServerUrl</key>
		<string>61.191.30.195</string>
		<key>PrimaryServerIp</key>
		<string>61.191.30.195</string>
		<key>PrimaryServerPort</key>
		<real>9002</real>
		<key>SecondServerUrl</key>
		<string>61.191.30.195</string>
		<key>SecondServerIP</key>
		<string>61.191.30.195</string>
		<key>SecondServerPort</key>
		<real>9002</real>
		<key>OtherServerUrl</key>
		<string>61.191.30.195</string>
		<key>OtherServerIP</key>
		<string>61.191.30.195</string>
		<key>OtherServerPort</key>
		<real>8090</real>
		<key>FileServerUrl</key>
		<string>61.191.30.195</string>
		<key>FileServerPort</key>
		<integer>8080</integer>
		<key>FileServerPath</key>
		<string>/</string>
		<key>NeedConnectByIpIfGPRS</key>
		<false/>
		<key>DisplayServerConfigButton</key>
		<string>NO</string>
	</dict>
	<key>Engine</key>
	<dict>
		<key>NeedApplist</key>
		<true/>
		<key>NeedEncryptDB</key>
		<true/>
		<key>MyViewModeType</key>
		<integer>1</integer>
		<key>SupportReceiptMsg</key>
		<true/>
		<key>NeedShowAlertWhenOptionUpdate</key>
		<true/>
		<key>SupportRecallMsg</key>
		<true/>
		<key>SupportVideo</key>
		<true/>
		<key>NeedDownloadOrgDB</key>
		<false/>
		<key>UploadUserLogoWidth</key>
		<integer>300</integer>
		<key>UploadUserLogoHeight</key>
		<integer>300</integer>
		<key>SupportCollection</key>
		<true/>
	</dict>
	<key>OrgDefine</key>
	<dict>
		<key>NeedCalculateDeptSubDept</key>
		<true/>
		<key>NeedCalculateDeptParentDept</key>
		<true/>
		<key>NeedGetDeptSubDeptToMemory</key>
		<false/>
		<key>NeedCreateEmpPinyinByEmpName</key>
		<true/>
		<key>NeedGetEmpSimplePinyinToMemory</key>
		<true/>
		<key>NeedGetEmpAllPinyinToMemory</key>
		<true/>
		<key>SearchEmpByLetter</key>
		<integer>7</integer>
		<key>DspUserCodeWhenSearchOrg</key>
		<true/>
	</dict>
	<key>TabBarDefine</key>
	<dict>
		<key>ConversationIndex</key>
		<integer>1</integer>
		<key>OrgIndex</key>
		<integer>2</integer>
		<key>MyIndex</key>
		<integer>0</integer>
		<key>SettingIndex</key>
		<integer>4</integer>
	</dict>
</dict>
</plist>
