<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>[/wx]</key><string>face_01weixiao</string>
	<key>[/pz]</key><string>face_02piezui</string>
	<key>[/se]</key><string>face_03se</string>
	<key>[/fd]</key><string>face_04fadai</string>
	<key>[/dy]</key><string>face_05deyi</string>
	<key>[/ll]</key><string>face_06liulei</string>
	<key>[/hx]</key><string>face_07haixiu</string>
	<key>[/bz]</key><string>face_08bizui</string>
	<key>[/shui]</key><string>face_09shui</string>
	<key>[/dk]</key><string>face_10daku</string>
	<key>[/gg]</key><string>face_11ganga</string>
	<key>[/fn]</key><string>face_12fanu</string>
	<key>[/tp]</key><string>face_13tiaopi</string>
	<key>[/cy]</key><string>face_14ciya</string>
	<key>[/jy]</key><string>face_15jingya</string>
	<key>[/ng]</key><string>face_16nanguo</string>
	<key>[/ku]</key><string>face_17ku</string>
	<key>[/jiong]</key><string>face_18jiong</string>
	<key>[/zk]</key><string>face_19zhuakuang</string>
	<key>[/tu]</key><string>face_20tu</string>
	<key>[/tx]</key><string>face_21touxiao</string>
	<key>[/yk]</key><string>face_22yukuai</string>
	<key>[/by]</key><string>face_23baiyan</string>
	<key>[/am]</key><string>face_24aoman</string>
	<key>[/je]</key><string>face_25jie</string>
	<key>[/kun]</key><string>face_26kun</string>
	<key>[/jk]</key><string>face_27jingkong</string>
	<key>[/lh]</key><string>face_28liuhan</string>
	<key>[/hxiao]</key><string>face_29hanxiao</string>
	<key>[/yx]</key><string>face_30youxian</string>
	<key>[/fdou]</key><string>face_31fendou</string>
	<key>[/zm]</key><string>face_32zhouma</string>
	<key>[/yw]</key><string>face_33yiwen</string>
	<key>[/xu]</key><string>face_34xu</string>
	<key>[/yun]</key><string>face_35yun</string>
	<key>[/fl]</key><string>face_36fengle</string>
	<key>[/shuai]</key><string>face_37shuai</string>
	<key>[/kl]</key><string>face_38kulou</string>
	<key>[/qd]</key><string>face_39qiaoda</string>
	<key>[/zj]</key><string>face_40zaijian</string>
	<key>[/ch]</key><string>face_41cahan</string>
	<key>[/kb]</key><string>face_42koubi</string>
	<key>[/gz]</key><string>face_43guzhang</string>
	<key>[/qdl]</key><string>face_44qiudale</string>
	<key>[/hx]</key><string>face_45huaixiao</string>
	<key>[/zhh]</key><string>face_46zuohengheng</string>
	<key>[/yhh]</key><string>face_47youhengheng</string>
	<key>[/hq]</key><string>face_48haqian</string>
	<key>[/bs]</key><string>face_49bishi</string>
	<key>[/wq]</key><string>face_50weiqu</string>
	<key>[/kk]</key><string>face_51kuaiku</string>
	<key>[/yxian]</key><string>face_52yinxian</string>
	<key>[/qq]</key><string>face_53qinqin</string>
	<key>[/he]</key><string>face_54he</string>
	<key>[/klian]</key><string>face_55kelian</string>
	<key>[/cd]</key><string>face_56caidao</string>
	<key>[/xg]</key><string>face_57xigua</string>
	<key>[/pj]</key><string>face_58pijiu</string>
	<key>[/lq]</key><string>face_59lanqiu</string>
	<key>[/pp]</key><string>face_60pingpang</string>
	<key>[/kf]</key><string>face_61kafei</string>
	<key>[/fan]</key><string>face_62fan</string>
	<key>[/zt]</key><string>face_63zhutou</string>
	<key>[/mg]</key><string>face_64meigui</string>
	<key>[/dx]</key><string>face_65diaoxie</string>
	<key>[/zc]</key><string>face_66zuichun</string>
	<key>[/ax]</key><string>face_67aixin</string>
	<key>[/xs]</key><string>face_68xinsui</string>
	<key>[/dg]</key><string>face_69dangao</string>
	<key>[/sd]</key><string>face_70shandian</string>
	<key>[/zd]</key><string>face_71zhadan</string>
	<key>[/dao]</key><string>face_72dao</string>
	<key>[/zq]</key><string>face_73zuqiu</string>
	<key>[/pc]</key><string>face_74piaochong</string>
	<key>[/bb]</key><string>face_75bianbian</string>
	<key>[/yl]</key><string>face_76yueliang</string>
	<key>[/ty]</key><string>face_77taiyang</string>
	<key>[/lw]</key><string>face_78liwu</string>
	<key>[/yb]</key><string>face_79yongbao</string>
	<key>[/qiang]</key><string>face_80qiang</string>
	<key>[/ruo]</key><string>face_81ruo</string>
	<key>[/ws]</key><string>face_82woshou</string>
	<key>[/sl]</key><string>face_83shengli</string>
	<key>[/bq]</key><string>face_84baoquan</string>
	<key>[/gy]</key><string>face_85gouyin</string>
	<key>[/qt]</key><string>face_86quantou</string>
	<key>[/cj]</key><string>face_87chajin</string>
	<key>[/an]</key><string>face_88aini</string>
	<key>[/no]</key><string>face_89no</string>
	<key>[/ok]</key><string>face_90ok</string>
	<key>[/jx]</key><string>face_106jianxiao</string>
	<key>[/hh]</key><string>face_107heiha</string>
	<key>[/wl]</key><string>face_108wulian</string>
	<key>[/jz]</key><string>face_109jizhi</string>
	<key>[/cha]</key><string>face_110cha</string>
	<key>[/hb]</key><string>face_111hongbao</string>
	<key>[/lz]</key><string>face_112lazhu</string>
	<key>[/ye]</key><string>face_113ye</string>
	<key>[/zmei]</key><string>face_114zhoumei</string>
</dict>
</plist>
