<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ServerConfig</key>
	<dict>
		<key>PrimaryServerUrl</key>
		<string>ctx.wanda.cn</string>
		<key>PrimaryServerIp</key>
		<string>ctx.wanda.cn</string>
		<key>PrimaryServerPort</key>
		<integer>9001</integer>
		<key>SecondServerUrl</key>
		<string>ctx.wanda.cn</string>
		<key>SecondServerIP</key>
		<string>ctx.wanda.cn</string>
		<key>SecondServerPort</key>
		<real>9001</real>
		<key>OtherServerUrl</key>
		<string>ctx.wanda.cn</string>
		<key>OtherServerIP</key>
		<string>ctx.wanda.cn</string>
		<key>OtherServerPort</key>
		<integer>8090</integer>
		<key>FileServerUrl</key>
		<string>ctx.wanda.cn</string>
		<key>FileServerPort</key>
		<integer>8080</integer>
		<key>FileServerPath</key>
		<string>/</string>
		<key>NeedConnectByIpIfGPRS</key>
		<false/>
		<key>DisplayServerConfigButton</key>
		<string>YES</string>
	</dict>
	<key>Engine</key>
	<dict>
		<key>SupportSavePassword</key>
		<false/>
		<key>SupportAudioToTxt</key>
		<false/>
		<key>SupportGuidePages</key>
		<false/>
		<key>NeedApplist</key>
		<false/>
		<key>NeedDownloadOrgDB</key>
		<false/>
		<key>NeedSwitchFileServer</key>
		<false/>
		<key>NeedEncryptDB</key>
		<false/>
		<key>SupportPublicService</key>
		<false/>
		<key>SearchTextMinLen</key>
		<integer>1</integer>
		<key>FacePrefix</key>
		<string>face</string>
		<key>MyViewModeType</key>
		<integer>0</integer>
		<key>UserLogoRoundArc</key>
		<real>0.1</real>
		<key>UploadUserLogoWidth</key>
		<integer>300</integer>
		<key>UploadUserLogoHeight</key>
		<integer>400</integer>
		<key>CanModifyUserInfo</key>
		<false/>
		<key>SupportYHBY</key>
		<false/>
		<key>SupportReceiptMsg</key>
		<false/>
		<key>DelayWhenLaunch</key>
		<false/>
		<key>BackgroundPicNum</key>
		<integer>2</integer>
		<key>SupportCollection</key>
		<false/>
		<key>SupportVideo</key>
		<false/>
		<key>SupportRecallMsg</key>
		<false/>
		<key>NeedShowAlertWhenOptionUpdate</key>
		<false/>
		<key>ContactListRightBtnClickMode</key>
		<integer>0</integer>
		<key>ChatMessageDisplayReceiptMsgEntrance</key>
		<false/>
		<key>ChatMessageDisplayPicMsgEntrance</key>
		<false/>
		<key>ChatMessageDisplayFileMsgEntrance</key>
		<false/>
		<key>NeedFixSecurityGap</key>
		<false/>
		<key>AutoSendMsgReadOfHuizhiMsg</key>
		<false/>
		<key>NeedImportantMsgSetTop</key>
		<false/>
		<key>NeedDisplayUserStatus</key>
		<true/>
		<key>SupportSendRedPacket</key>
		<false/>
		<key>NeedSyncDeptShowConfig</key>
		<false/>
	</dict>
	<key>OrgDefine</key>
	<dict>
		<key>NeedCalculateDeptSubDept</key>
		<false/>
		<key>NeedCalculateDeptParentDept</key>
		<false/>
		<key>NeedCalculateDeptEmpCount</key>
		<false/>
		<key>NeedGetDeptSubDeptToMemory</key>
		<false/>
		<key>NeedGetDeptParentDeptToMemory</key>
		<false/>
		<key>NeedCreateDeptPinyinByDeptName</key>
		<false/>
		<key>NeedCreateEmpPinyinByEmpName</key>
		<false/>
		<key>NeedGetEmpSimplePinyinToMemory</key>
		<false/>
		<key>NeedGetEmpAllPinyinToMemory</key>
		<false/>
		<key>SearchEmpByLetter</key>
		<integer>4</integer>
		<key>SearchEmpByNumber</key>
		<integer>4</integer>
		<key>SearchEmpBySpecialChar</key>
		<integer>12</integer>
		<key>DspUserCodeWhenSearchOrg</key>
		<false/>
		<key>NeedSearchDept</key>
		<false/>
		<key>SupportSearchByPhone</key>
		<false/>
		<key>SupportSearchByTitle</key>
		<false/>
	</dict>
	<key>TabBarDefine</key>
	<dict>
		<key>ConversationIndex</key>
		<integer>0</integer>
		<key>OrgIndex</key>
		<integer>1</integer>
		<key>MyIndex</key>
		<integer>2</integer>
		<key>SettingIndex</key>
		<integer>3</integer>
	</dict>
	<key>SettingDefine</key>
	<dict>
		<key>SupportLanguageSetting</key>
		<true/>
		<key>SupportFontStyleSetting</key>
		<false/>
	</dict>
	<key>UserInterface</key>
	<dict>
		<key>NeedWaterMark</key>
		<false/>
		<key>BackToLoginWhenLoginOtherTerminal</key>
		<false/>
		<key>BackToLoginWhenForbidden</key>
		<false/>
		<key>UseNameAsLogo</key>
		<true/>
		<key>UseOriginUserLogo</key>
		<true/>
	</dict>
</dict>
</plist>
